body{
  background-color: #D6E4E5;
  font-family: 'Slabo 27px', serif;
}
.container-fluid{
  padding: 0 5%;
}
.game-heading{
  font-family: 'Poppins', sans-serif;
  font-size: 5rem;
  margin: 40px 0 50px;
}
.img-fluid{
  margin: 0 60px;
  width: 70%;
}
.player{
  margin: auto;
}
.btn{
  margin-top: 30px;
}
.paragraph1{
  font-size: 1.4rem;
}
.paragraph2{
  font-size: 1.4rem;
}
.moves{
  font-size: 1.4rem;
  margin-top: 20px;
}
.invisible{
  display: none;
}

@media screen and (max-width: 767px){

  .img-fluid{
    width: 35%;
  }
  h1{
    font-size: 2.3rem;
  }
  .paragraph1{
    text-align: left;
  }
 .paragraph2{
     text-align: right;
 }
}
